{% extends "same.html" %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
</head>
   <link rel="stylesheet" type="text/css" href="{%static 'css/list.css'%}">
   <form action="{% url 'Branch_Details' %}" method="POST">
            {% csrf_token %}

<body>
  <div class="hello1">
  <input type="text" name="" id="myInput" placeholder="Search PIN number HERE" onkeyup="searchFun()">
</div>
</body> 
<script type="text/javascript">
  var k={{k |safe}};
  var v={{v |safe}};
  var rank={{rank |safe}};
  document.write("<table id=\"MyTable\" class=\"center\" style=\"color: #DC143C \"><tr><th>PIN Number</th><th>Credits</th><th>RANK</th><th>click Here")
  for (var i=0;i<v.length;i++){
    if(v[i]==0){
      document.write("<tr class=\"content-table\" style=\"color: #DC143C\"><td >"+k[i]+"</td><td>"+v[i]+"</td><td>0</td><td onclick=\"location.href='http://127.0.0.1:8000/Individual_Info/'\">For More</td></tr>");}  
    else{ 
      document.write("<tr class=\"content-table\" style=\"color: #6495ED\"><td >"+k[i]+"</td><td>"+v[i]+"</td><td>"+rank[i]+"</td><td><a onclick=\"location.href='http://127.0.0.1:8000/Individual_Info/'\">For More</a></td></tr>");}
    }

  const searchFun=() =>{
    let filter=document.getElementById('myInput').value.toUpperCase();
    let myTable=document.getElementById('MyTable');
    let tr=myTable.getElementsByTagName('tr');
    for (var j=0; j<tr.length; j++){
      let td=tr[j].getElementsByTagName('td')[0];
      if (td){
        let textvalue=td.textContent || td.innerHTML;
        if(textvalue.indexOf(filter)> -1){
          tr[j].style.display='';
        }
        else{
          tr[j].style.display='NONE';
        }
      }
    }

  }
</script>


{% endblock%}
</html>
