<!DOCTYPE html>
<html lang="en">
<head>
  <title>RESULTS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <form action="{% url 'Individual_Info' %}" method="POST" >
            {% csrf_token %} 

<a href="https://semresultsupdate.herokuapp.com/hii/" class="btn btn-light"><i class=" fa fa-home " style="font-size:48px;" ></i></a>

<div class="hello" > 
<div class="container mt-3" >
  <div class="input-group mb-3" >  
  </div>
  <h5>Enter your PIN number:</h5>
  <div class="input-group mb-3" >
    <input id='one'type="text" class="col-sm-4" placeholder="Ex:16BQ1A0401" id="pinn" name='pinn'>
    <div id="two" class="input-group-append">
      <button class="btn btn-success" type="submit" value="submit">GET</button>  
     </div>
  </div>
</div>

</div>
</body>
<style type="text/css">
.hello {
  margin: auto;
  width:auto;
  padding: 10px;
  position: relative;
  left :90px;
  top:30px;

}
#one{
  width:auto;
}
  
</style>

</html>
{% block body %}
{% endblock %}
