<!DOCTYPE html>
<html lang="en">
<head>
  <title>RESULTS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <form action="{% url 'Individual_Info' %}" method="POST" >
            {% csrf_token %} 

<a href="http://127.0.0.1:8000/hii/" class="previous">&laquo; Go To Home </a>

<div class="hello" > 
<div class="container mt-3" >
  <div class="input-group mb-3" >  
  </div>
  <h5>Enter your PIN number:</h5>
  <div class="input-group mb-3" >
    <input type="text" class="col-xs-3" placeholder="Ex:16BQ1A0401" id="pinn" name='pinn'>
    <div class="input-group-append">
      <button class="btn btn-success" type="submit" value="submit">GET</button>  
     </div>
  </div>
</div>

</div>
</script>
</body>
<style type="text/css">
.hello {
  margin: auto;

  width: 40%;
  padding: 10px;
  position: relative;
  left :90px;
  top:30px;

}
.previous{
  color:#FF00FF;
  background-color: #e6e6ff;
}
</style>

</html>
{% block body %}
{% endblock %}