{%load static%}
{% block body%}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>RESULTS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{%static 'css/sub_names.css'%}">
</head>
  <form action="{% url 'yesorno' %}" method="POST">
            {% csrf_token %}
<body>
<div class="centre">
{% for i in h %} 
      <label ><input type="radio" value="{{i}}" name="hello" checked>{{ i }}</label><br>

{% endfor %}		
{% ifequal k 'Yellow' %}
<input type="submit" value="proceed">
{% endifequal %} 
</div>
</body>
</html>
{% endblock %}

